
.flex-container {
  display: -webkit-box; /* OLD - iOS 6-, Safari 3.1-6, BB7 */
  display: -ms-flexbox; /* TWEENER - IE 10 */
  display: -webkit-flex; /* NEW - Safari 6.1+. iOS 7.1+, BB10 */
  display: flex; /* NEW, Spec - Firefox, Chrome, Opera */

  justify-content: center;
  align-items: center;

  width: 400px;
  height: 200px;
  background-color: #3498db;
}

.inner-element {
  width: 100px;
  height: 100px;
  background-color: #f1c40f;
}

.sliderClass {
  overflow-x: hidden;
}